USE [master]
GO
/****** Objeto: Database [TecnoSula] Fecha de script: 10/07/2026 01:42:29 a. m. ******/
CREATE DATABASE [TecnoSula]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TecnoSula', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\TecnoSula.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TecnoSula_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\TecnoSula_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TecnoSula].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TecnoSula]
GO
/****** Objeto: Table [dbo].[RecuperacionPassword] Fecha de script: 10/07/2026 01:42:30 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RecuperacionPassword](
	[id_recuperacion] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NOT NULL,
	[token] [varchar](200) NOT NULL,
	[fecha_expiracion] [datetime] NOT NULL,
	[usado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_recuperacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Roles] Fecha de script: 10/07/2026 01:42:30 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[id_rol] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Usuarios] Fecha de script: 10/07/2026 01:42:30 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[apellido] [varchar](100) NOT NULL,
	[correo] [varchar](150) NOT NULL,
	[contrasena] [varchar](255) NOT NULL,
	[telefono] [varchar](20) NULL,
	[estado] [varchar](10) NOT NULL,
	[id_rol] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[RecuperacionPassword] ON 

INSERT [dbo].[RecuperacionPassword] ([id_recuperacion], [id_usuario], [token], [fecha_expiracion], [usado]) VALUES (1, 5, N'25523cb1-0433-4c64-986c-ad55b8b9ff4b', CAST(N'2026-07-09T18:04:29.697' AS DateTime), 0)
INSERT [dbo].[RecuperacionPassword] ([id_recuperacion], [id_usuario], [token], [fecha_expiracion], [usado]) VALUES (2, 5, N'0b815183-5f3c-46bb-bcc1-ffd8aa35e620', CAST(N'2026-07-09T18:08:50.887' AS DateTime), 0)
INSERT [dbo].[RecuperacionPassword] ([id_recuperacion], [id_usuario], [token], [fecha_expiracion], [usado]) VALUES (3, 5, N'9a8fca99-266a-41e0-b5da-575b5dbb9f45', CAST(N'2026-07-09T18:12:55.267' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[RecuperacionPassword] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([id_rol], [nombre]) VALUES (1, N'Administrador')
INSERT [dbo].[Roles] ([id_rol], [nombre]) VALUES (3, N'Cliente')
INSERT [dbo].[Roles] ([id_rol], [nombre]) VALUES (2, N'Empleado')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([id_usuario], [nombre], [apellido], [correo], [contrasena], [telefono], [estado], [id_rol]) VALUES (2, N'Estiff', N'Moreno', N'admin@tecnosula.com', N'$2a$11$DufoOd3ianeDF1tEec61E.C4n154RgauKZe8hlh06o0SxKhQidZf2', N'64294903', N'Inactivo', 1)
INSERT [dbo].[Usuarios] ([id_usuario], [nombre], [apellido], [correo], [contrasena], [telefono], [estado], [id_rol]) VALUES (3, N'Steven', N'Juarez Carrillo', N'Stevenplayo@gmail.com', N'$2a$11$fljZTcgLk7fYRQpRtwLCiud4m8pBD5MJ4iLd6uIL3AKBmDYnNgL.a', N'05532832', N'Activo', 3)
INSERT [dbo].[Usuarios] ([id_usuario], [nombre], [apellido], [correo], [contrasena], [telefono], [estado], [id_rol]) VALUES (4, N'Omar', N'Lara', N'omarlara@gmail.com', N'$2a$11$NBz3zFwDgJaK2ArbZOaAqOC9XrUQ.R8KfIws4.EsaMfsNak4xU4NW', N'65122541', N'Activo', 3)
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Roles__72AFBCC6F7000DA7] Fecha de script: 10/07/2026 01:42:30 a. m. ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Usuarios__2A586E0B94E69759] Fecha de script: 10/07/2026 01:42:30 a. m. ******/
ALTER TABLE [dbo].[Usuarios] ADD UNIQUE NONCLUSTERED 
(
	[correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RecuperacionPassword] ADD  DEFAULT ((0)) FOR [usado]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ('Activo') FOR [estado]
GO
ALTER TABLE [dbo].[RecuperacionPassword]  WITH CHECK ADD FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Roles] FOREIGN KEY([id_rol])
REFERENCES [dbo].[Roles] ([id_rol])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Roles]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [CK_Usuarios_Estado] CHECK  (([estado]='Inactivo' OR [estado]='Activo'))
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [CK_Usuarios_Estado]
GO
USE [master]
GO
